:root {
    --base-width: 300px;
    --base-width-desktop: 1270px;
    --color-azul: #0066fe;
    --color-negro: #203461;
    --color-gris: #D6D8DC;
    --color-verde: #1DBE4D;
    --color-dash1: #FB6900;
    --color-dash2: #F63700;
    --color-dash3: #004853;
    --color-dash4: #00B9BD;
    --color-dash5: #AAAAAA;
}

html,
body {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--color-gris);
    color: var(--color-negro);
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

html,
body,
text {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-negro);
}


h4 {
    font-size: 20px;
    margin: 0px;
    font-weight: 400;

}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    color: var(--color-negro);
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
    text-align: left;
    color: var(--color-negro);
}

h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 0px;
    text-align: left;
}


label {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-negro);
}

p {
    margin: 0px;
    color: var(--color-negro);
}

.bold {
    font-weight: 800;
}

.space_evenly {
    display: flex;
    justify-content: space-evenly;
}

.columns {
    display: flex;
    flex-direction: row;
}

.rows {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_vert {
    display: flex;
    align-items: center;
}

.center_hor {
    display: flex;
    justify-content: center;
}

.top {
    display: flex;
    align-items: flex-start;
}

.bottom {
    display: flex;
    align-items: flex-end;
}

.left {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.left_rows {
    display: flex;
    align-items: flex-start;
}

.right {
    display: flex;
    align-items: right;
    justify-content: right;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text_left {
    text-align: left;
}

.margin_gd {
    margin: 10px;
}

.margin_pq {
    margin: 5px;
}

.padding_gd {
    padding: 6px;
}

.padding_pq {
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#sub_config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#subSubConfig {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

#subSubConfig>* {
    margin: 5px;
}

#dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
}

#subdashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.grid-item {
    /*float: left;*/
}

.cube_container {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    box-shadow: 3px 3px 4px #AAAAAA;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    height: fit-content;
    box-sizing: border-box;
}

#Disponibilidad,
#Calidad,
#Rendimiento {
    min-height: 450px;
}

#Disponibilidad>div:nth-child(2),
#Calidad>div:nth-child(2),
#Rendimiento>div:nth-child(2) {
    flex-direction: column-reverse !important;
}



@media (min-width: 740px) and (max-width: 1100px) {


    #indicadoresSubCont {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 20px;
    }

    #Indicadores {
        min-width: 722px;
        width: 722px;
        max-width: 722px;
    }

    #Rendimiento {
        min-height: 825px !important;
    }

    #config,
    #title {
        min-width: 722px;
        width: 722px;
        max-width: 722px;
    }

    #Indicadores .pieContainer {
        max-width: 250px;
    }

    #pieContCont {
        max-width: 250px !important;
        width: 250px !important;
        display: block;
        box-sizing: border-box;
    }

}

@media (min-width: 1100px) {

    #indicadoresSubCont {
        display: flex;
        width: 80%;
        justify-content: space-around;
        padding: 20px;
    }

    #Indicadores {
        min-width: 1087px;
        width: 1087px;
        max-width: 1087px;
    }

    #config,
    #title {
        min-width: 1087px;
        width: 1087px;
        max-width: 1087px;
    }

    #Indicadores .pieContainer {
        max-width: 250px;
    }

    #pieContCont {
        max-width: 250px !important;
        width: 250px !important;
        display: block;
        box-sizing: border-box;
    }


}

.cube_container>.title_container {
    width: 100%;
}

.cube_container>*:not(.title_container) {
    margin: 5px;
}

.relative {
    position: relative;
}

#cont_tiempos {
    margin: 10px;
}

.center_pie {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    box-shadow: var(--color-gris) 0px 0px 10px;
    font-size: 19px;

}

.full_width {
    width: 100%;
    min-width: 100%;
}

.full_height {
    height: 100%;
    min-height: 100%;
}

.indicador {
    font-size: 45px;
}

.underline_ind {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 5px;
}

#underlineDisponibilidad {
    border-bottom: 4px solid rgb(66, 133, 244);
}

#underlineRendimiento {
    border-bottom: 4px solid rgb(219, 68, 55);
}

#underlineCalidad {
    border-bottom: 4px solid rgb(244, 180, 0);
}

#underlineEficiencia {
    border-bottom: 4px solid rgb(15, 157, 88);
}

.campo_ind {
    display: flex;
    text-align: right;
    margin: 5px;
    padding: 10px;
    width: 113px;
}

.donutchart {
    width: 100%;
    height: 500px;
}

.linechart1 {
    width: 100%;
    height: 100%;
}

.list::before {
    content: '* ';
}

#master_indicadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#master_montaje {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    height: fit-content;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

#master_consumo {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor_ciclos {
    margin: 10px;
}

.montaje_row {
    display: flex;
    text-align: left;
    width: 100%;
    min-width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin: 3px;
    margin-left: 0px;
    margin-right: 0px;

}

.button_main {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-negro);
    border-radius: 5px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform-origin: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.button_main:hover {
    transform: scale(1.1);
}

.button_main:active {
    transform: scale(1.0);
    background-color: var(--color-gris);
}



.title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-negro);
}

.menu_download .button_download {
    margin-right: 6px;
}

.menu_download>* {
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
}

.menu_download>*:hover {
    background-color: var(--color-gris);
}

.menu_download {
    transform-origin: center;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    background-color: white;
    bottom: -43px;
    right: 5px;
    width: fit-content;
    height: fit-content;
    text-align: left;
    border: 2px solid var(--color-negro);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 4px #AAAAAA;
    cursor: pointer;

}


.button_download {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 0.8));
    width: 16px;
    height: 6px;
    border: 2px solid var(--color-negro);
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 8px
}

.button_download::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 2px solid var(--color-negro);
    border-bottom: 2px solid var(--color-negro);
    transform: rotate(-45deg);
    left: 2px;
    bottom: 4px
}

.button_download::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 10px;
    background: var(--color-negro);
    left: 5px;
    bottom: 5px
}

.button_minimize_down>div {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 0.8));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    margin-right: 8px;
    top: -1px;
}

.button_minimize_down>div::after,
.button_minimize_down>div::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 2px solid var(--color-negro)
}

.button_minimize_down>div::before {
    bottom: 0;
    width: 14px;
    height: 2px;
    left: 2px
}

.button_minimize_down>div::after {
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--color-negro);
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}

.button_search {
    cursor: pointer;
}

.button_search:hover {
    transform: scale(1.1);
}

.button_search:active {
    transform: scale(1.0);
}

.button_search>div {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 0.6));
    width: 16px;
    height: 16px;
    border: 3px solid var(--color-negro);
    border-radius: 100%;
    margin-top: 2px;
    margin-right: 6px;
}

.button_search>div::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 3px;
    height: 8px;
    background: var(--color-negro);
    transform: rotate(-45deg);
    top: 9px;
    left: 11px
}

.selected_form {
    border: 2px solid var(--color-negro);
    border-radius: 4px;
    width: 300px;
    position: relative;
    height: fit-content;
}

.selected_head {
    display: flex;
    justify-content: space-between;
    height: 22px;
}

.selected_head>h3 {
    margin-left: 6px;
}

.fit_content {
    width: fit-content;
    height: fit-content;
}

.fit_width {
    width: fit-content;
}

.fit_height {
    height: fit-content;
}


.button_arrow_down {
    cursor: pointer;
}

.button_arrow_down:hover {
    transform: scale(1.1);
}

.button_arrow_down:active {
    transform: scale(0.9);
}

.button_arrow_down>div {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    margin-right: 5px;
}

.button_arrow_down>div::after,
.button_arrow_down>div::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 2px solid var(--color-negro)
}


.button_arrow_down>div::after {
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--color-negro);
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}


.select_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--color-negro);
}

#eficiencia_indicador {
    border-radius: 10px;
    box-shadow: red 0px 0px 8px;
}

#inicio_fin {
    margin: 6px;
    margin-bottom: 2px;
}

#datetimes {
    width: 200px;
    text-align: center;
    border: 2px solid var(--color-negro);
    border-radius: 5px;
    color: var(--color-negro);

}

.base_border1 {
    border: 1px solid var(--color-negro);
    border-radius: 5px;
}

.base_border2 {
    border: 2px solid var(--color-negro);
    border-radius: 5px;
}

input {
    border-color: var(--color-negro) !important;
    border-width: 1px;
    border-radius: 5px;
    color: var(--color-negro);
}

.search_section {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    box-sizing: border-box;
}

.search_section>* {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.search_section>*>*:first-child {
    margin-right: 8px;
}

.search_section>*:first-child {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
}

.search_section>*:first-child>input:last-child {
    width: 150px;
}

.search_section>*:nth-child(2) {
    border: 1px solid var(--color-negro);
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 200px;
    overflow-y: scroll;
}

.tab_container {
    width: calc(100% + 30px);
    position: relative;
    top: -21px;
    background-color: var(--color-gris);
    display: none;
    justify-content: space-between;
}

.tab_container>*:first-child>*,
.tab_container>*:not(:first-child) {
    border: 1px solid white;
    background-color: var(--color-negro) !important;
    color: white;
    width: 80px;
    height: 22px;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 9px 0px 9px;
}

.tab_container>*:not(:first-child) {
    width: fit-content;
}

.tab_container>*:first-child>*>*:first-child {
    height: 21px;
    text-align: left;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.tab_container>*:first-child>*:first-child {
    background-color: white !important;
    color: var(--color-negro);
}


/*legends*/
.indicator {
    width: 13px;
    height: 13px;
    background-color: #AAAAAA;
    margin-right: 3px;
    border-radius: 2px;
    cursor: pointer;
    /*border: 1px solid var(--color-negro);*/
    /*box-shadow: 1px 1px 2px #AAAAAA;*/
}

.legend {
    text-align: left;
    margin: 15px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

select {
    margin: 5px;
}

/* Remove default bullets */
ul,
.legend {
    list-style-type: none;
    padding-inline-start: 20px;
}

.legend span {
    cursor: pointer;
}

/* Remove margins and padding from the parent ul */
.legend {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    position: relative;
    display: flex;
    align-items: flex-start;
    left: -17px;
    /* Prevent text selection */
}

li.leg_toggle {
    display: flex;
    align-items: flex-start;
}

li,
ul {
    margin: 2px;
}

/* Create the caret/arrow with a unicode, and style it */
.caret_symbol {
    color: var(--color-negro);
    display: inline-block;
    margin-right: 6px;
    width: fit-content;
    height: fit-content;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down .caret_symbol {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active_legend {
    display: block;
}

.pieContainer {
    min-width: 150px;
    width: 100%;
    max-width: 450px;
}

#pieCiclosContainer,
#pieRendimientoContainer {
    transform: scale(0.75);
}

.lineContainer {
    min-width: 300px;
    width: 100%;
    max-width: 800px;
}

.justify_start {
    display: flex;
    justify-content: flex-start;
}

.align_start {
    display: flex;
    align-items: flex-start;
}

.modebar-btn--logo {
    display: none !important;
}

#Material>div:nth-child(2),
#Ciclos>div:nth-child(2) {
    flex-direction: column-reverse !important;
}

#MaterialPlc {
    width: 120px;
    padding: 3px;

}

#MaterialPlcCont {
    margin: 5px;
    margin-top: 10px;
}

#MontajePlc,
#ciclePlc {
    width: 120px;
    padding: 3px;

}

#MontajePlcCont,
#ciclePlcCont {
    margin: 5px;
    margin-top: 10px;
}

#montajeLabels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold !important;
    margin: 5px;
    width: 50%;
}

#montajeLabels>* {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#montajeLabels>*>* {}

.button_download_parent {
    /*display: none;*/
}

#configError {
    width: 100%;
    max-width: 190px;
    padding: 10px;
    padding-bottom: 0px;
    color: red;
    font-weight: 600;
    text-align: left;
}

#rangoCont {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

#liveContainer {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    top: 20px;
    position: relative;
}

#liveContainer input {
    margin: auto;
    margin-top: 5px;
}

#liveContainer>div>div:before {
    position: absolute;
    background-color: white;
    z-index: 2;
    max-width: 150px;
    display: none;
    border: gray solid 1px;
    box-shadow: 1px 1px gray;
    padding: 2px;
    transform: translateX(-100%);
    text-align: left;
}

#liveContainer>div:nth-child(1)>div:before {
    content: 'Conectarse directamente a las maquinas.';
}

#liveContainer>div:nth-child(2)>div:before {
    content: 'Aplana y compensa los datos de entrada, operación avanzada.';
}

#liveContainer>div>div:hover:before {
    display: block;
}

#liveContainer>div>div {
    border-radius: 50%;
    border: black solid 1px;
    width: 15px;
    height: 15px;
    margin: 5px;
}

#liveContainer>div>input {
    margin: auto;
}

#offsetCont {
    /* display: none;*/
}

.interrogation {
    box-sizing: border-box;
    padding-bottom: 2px;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    overflow: hidden;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#logo {
    width: 100px;
}

h1 {
    font-size: 30px;
    color: var(--color-negro);
}

@media (max-width: 740px) {

    h1 {
        font-size: 15px !important;
        text-align: center;
    }
}

#title text {
    font-size: 20px;
}

#title text span {
    font-weight: 600;
}
#offset, #live {
    cursor:pointer;
}
#titleContainer {
    display: flex;
    width: 100%;
    text-align: left;
}

#reportTitle {
    margin-left: auto;
    margin-right: auto;
    transform: translate(-20px);
    font-weight: 500
}